.mobile-icon {
  stroke-width: 1px;
  color: transparent;
}

.mobile-icon.home {
  stroke: var(--brand-color_1);
}

.mobile-icon:is(.heart, .close) {
  stroke: red;
}

.mobile-icon.hamburguer {
  stroke: var(--brand-color_2);
}

.gf-header .bottom-header-mobile {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  top: initial;
  box-sizing: border-box;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  gap: 0;
  flex-wrap: nowrap;
  border-top: 2px solid grey;
  /* border-top: 2px solid white; */
  border-bottom: 0;
  z-index: 300;
  background-color: rgb(38, 3, 66);
  background-color: #260e3d;
  background-color: black;
}

.bottom-header-mobile .mobile-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  width: 100%;
}

.bottom-header-mobile .mobile-link:focus {
  outline: none;
  background-color: transparent;
}

button.mobile-link {
  border: none;
  background-color: transparent;
  padding: 0.6rem;
}
