.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--masonry-gap);
  width: auto;
  gap: 1rem;
}

.masonry-grid .Gif-link {
  animation: appearFromTop 0.5s normal, opacity 1s normal;
}

.masonry-grid video {
  width: 100%;
  height: 200px;

  /* max-height: 15rem; */
  /* object-fit: cover; */
  border-radius: var(--gif-border-radius);
}

@media screen and (max-width: 543.5px) {
  .masonry-grid :is(video, .Gif-link) {
    height: 100%;
    padding: 0;
    /* max-height: 100%; */
  }

  .Gif-link {
    outline: none;
  }
}

@supports (grid-template-rows: masonry) {
  .masonry-grid {
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .masonry-grid > .Gif-link {
    --masonry-gap: 0;
  }

  .masonry-grid video {
    height: 100%;
  }
}
