.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(17rem, 50vw), 1fr));
  gap: var(--masonry-gap);
  width: auto;
  gap: 1rem;
}

.masonry-grid .Gif-link {
  animation: appearFromTop 0.5s normal, opacity 1s normal;
}

.masonry-grid img {
  width: 100%;
  border-radius: var(--gif-border-radius);
}

@media screen and (max-width: 666.5px) {
  .masonry-grid :is(img, .Gif-link) {
    height: 100%;
    padding: 0;
  }

  .Gif-link {
    outline: none;
  }
}

@supports (grid-template-rows: masonry) {
  .masonry-grid {
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .masonry-grid > .Gif-link {
    --masonry-gap: 0;
  }

  .masonry-grid img {
    height: 100%;
  }
}
