.App-category h2 {
  line-height: 1;
}

.sidenav .Category-title {
  padding-top: 0;
  text-align: center;
}

.Category-list {
  margin-top: 0;
  animation: appearFromLeft 0.5s normal, opacity 1s normal;
}

.Category-list li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.2rem;
}

.Category-list li a.Category-link {
  padding: 0.5rem;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 10px;
}

.Category-list li a.Category-link:hover {
  background-clip: padding-box;
  -webkit-text-fill-color: initial;
  -webkit-background-clip: padding-box;
}

@media screen and (max-width: 950px) {
  .Category-title {
    text-align: center;
    margin-top: 1rem;
  }

  .Category-list {
    display: flex;
    flex-wrap: wrap;
  }
}
