.gif {
  border: 1px solid #eee;
  border-radius: 6px;
  display: flex;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  /* width: 100%; */
  margin-bottom: 2rem;
}

.gif h4 {
  margin: 0;
  font-size: 1rem;
  /* font-size: calc(1vw + 1vh + 1vmin); */
}

.gif img {
  width: 100%;
  margin-top: 1rem;
}
