.list-gif {
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  break-inside: avoid;
  padding: 0.2rem;
  width: 100%;
}

.list-gif h4 {
  color: #fff;
  background-color: rgba(49, 49, 49, 0.5);
  font-size: 0.6rem;
  position: absolute;
  bottom: 3px;
  left: 3px;
  padding: 0.2rem;
}

.list-gif img {
  width: 100%;
}
