.Gif-link {
  display: flex;
  position: relative;
  background: grey;
  border-radius: var(--gif-border-radius);
  margin-bottom: var(--masonry-gap);
}

.Gif-link h4 {
  opacity: 0;
  color: #fff;
  background-color: rgba(49, 49, 49);
  font-size: 0.6rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  margin: 0;
  border-radius: 0 0 0 var(--gif-border-radius);
  transition: opacity .5s ease;
}

.Gif-link:hover h4 {
  opacity: 1;
}
