a {
  color: #09f;
  font-size: 2rem;
  text-decoration: none;
}

a:hover {
  color: rgb(2, 98, 161);
}

ul {
  list-style-type: none;
  padding: 0;
}

form {
  display: flex;
}

input[type='text'] {
  padding: 0.7rem;
  margin: 0;
  width: 100%;
}
