.Gifs-container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--gap);
  align-items: center;
  min-height: 100vh;
}

.Gifs-container > .Gif-link {
  display: flex;
  position: relative;
  margin-top: var(--gap);
}

.Gifs-container h4 {
  margin: 0;
}

.Gifs-container img {
  width: 100%;
}

@supports (grid-template-rows: masonry) {
  .Gifs-container {
    display: grid;
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .Gifs-container > .Gif-link {
    --gap: 0;
  }
}
