.masonry-grid {
  display: flex;
  margin-left: calc(-1 * var(--masonry-gap));
  width: auto;
}

.masonry-grid_column {
  padding-left: var(--masonry-gap); /* gutter size */
  background-clip: padding-box;
}

.masonry-grid video {
  width: 100%;
  border-radius: var(--gif-border-radius);
}

/* @supports (grid-template-rows: masonry) {
  .Gifs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: masonry;
    grid-auto-flow: dense;
  }

  .Gifs-container > .Gif-link {
    --masonry-gap: 0;
  }
} */
