.App-main {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.App-category h2 {
  line-height: 1;
}

@media screen and (min-width: 1025px) {
  .App-main {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }

  .App-category {
    position: sticky;
    top: 0;
    width: 30rem;
    display: flex;
    flex-direction: column;
  }
}
