.gf-fav {
  border: 0;
  padding: 0.4rem 0.5rem;
  transition: all ease 0.4s;
  border-radius: 50%;
  background-color: rgb(70, 70, 70);
}

.gf-fav .faved {
  animation: fav 1s forwards;
}

.gf-fav span {
  color: transparent;
}

.gf-fav span:not(.faved) {
  text-shadow: 0 0 0 white;
}

@media screen and (min-width: 769px) {
  .gf-fav:not(.faved):hover {
    animation: beat 0.25s infinite alternate;
  }
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes fav {
  from {
    text-shadow: 0 0 0 white;
  }
  to {
    text-shadow: 0 0 0 red;
  }
}
