.modal {
  background-color: rgb(46, 46, 46, 0.9);
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 350;
  width: 100%;
}

.modal-content {
  background-color: black;
  outline: 1px solid rgb(48, 48, 48);
  flex-basis: 20rem;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.modal-content form {
  margin: auto;
}

.modal-content input {
  width: 100%;
}

.modal-content .form-body {
  padding: 0;
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 666.5px) {
  .modal-content {
    padding: 0.5rem;
  }
}
