.error-container {
  padding: 1rem;
  margin-top: 2.5rem;
  color: white;
  background-color: #b00020;
  /* background-color: #290007;
  border: 1px solid #b00020; */
  display: flex;
  justify-content: center;
  border-radius: 10px;
  animation: opacity 1s normal;
}

.error-container strong {
  font-size: 0.9rem;
}
