.error-container {
  position: relative;
  padding: 1.2rem;
  color: white;
  background-color: #b00020;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  animation: opacity 1s normal;
  margin: 2.5rem auto auto auto;
}

.error-container span {
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
}

.error-container .close-btn {
  text-shadow: 0 0 0 white;
  color: transparent;
  top: 7px;
  right: 7px;
}
