.Gif-container img {
  max-width: 100%;
  object-fit: contain;
}

.Gif-container {
  width: 100%;
}

.Gif-buttons {
  position: absolute;
  display: flex;
  gap: 0.2rem;
  z-index: 1;
  right: 6px;
  top: 6px;
  line-height: 0;
}

.Gif-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.btn .faved {
  color: red;
  animation: fav 0.5s forwards;
}

.btn.copied {
  color: var(--brand-color_1);
  outline: 2px solid var(--brand-color_1);
  background-color: var(--bg-color);
  opacity: 1;
}
