:root {
  --outline-color: var(--brand-color_1);
  --link-text-color: black;
}

.Gif-link {
  display: flex;
  position: relative;
  border-radius: var(--gif-border-radius);
  transition: outline ease 0.2s;
  outline: 1px solid rgba(126, 126, 126, 0.349);
  /* height: 100%; */
  background-color: var(--bg-color);
  padding: .5rem;
}

.Gif-link:hover {
  outline: 5px solid var(--outline-color);
}

.Gif-link:hover h3 {
  background-color: var(--outline-color);
}

.Gif-link-container:hover:nth-child(5n + 2) {
  --outline-color: var(--brand-color_2);
}
.Gif-link-container:hover:nth-child(5n + 3) {
  --outline-color: var(--brand-color_3);
  --link-text-color: white;
}
.Gif-link-container:hover:nth-child(5n + 4) {
  --outline-color: var(--brand-color_4);
}
.Gif-link-container:hover:nth-child(5n + 5) {
  --outline-color: var(--brand-color_5);
}

.Gif-link h3 {
  opacity: 0;
  color: var(--link-text-color);
  background-color: rgba(49, 49, 49);
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  margin: 0;
  border-radius: 0 0 0 var(--gif-border-radius);
  transition: opacity 0.5s ease;
}

.Gif-link:hover h3 {
  opacity: 1;
}

.Gif-link-container {
  position: relative;
}

.Gif-buttons {
  position: absolute;
  z-index: 1;
  right: 6px;
  top: 6px;
  line-height: 0;
}
