:root {
  --content-padding: 14vw;
  --masonry-gap: 0.8rem;
  --gif-border-radius: 5px;
  --bg-color: #121212;
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: tomato;
  --brand-color_5: #fff35c;
  --brand-color_6: #8429de;
  --one-column-breakpoint: 605px;
}

h1 {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  z-index: -1000;
}

.App-title {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
}

.App-content {
  background-color: var(--bg-color);
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: white;
  box-sizing: border-box;
  padding: 1rem var(--content-padding);
}

.App-results {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 8rem;
  margin: 0;
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 769px) {
  :root {
    --content-padding: 2rem;
  }
}
