:root {
  --content-padding: 7vw;
  --masonry-gap: 0.8rem;
  --gif-border-radius: 5px;
  --outline-color: grey;
  --outline-default: 1px solid var(--outline-color);
  --bg-color: #121212;
  --brand-color_1: #00ff99;
  --brand-color_2: #00ccff;
  --brand-color_3: #9933ff;
  --brand-color_4: #ff6347;
  --brand-color_5: #fff35c;
  --one-column-breakpoint: 605px;
}

h1 {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute;
  z-index: -1000;
}

.App-content {
  min-height: 100vh;
}

.App-main {
  /* min-height: calc(100vh - 80px); */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* width: 100%; */
  margin-left: 14rem;
}

.App-title {
  font-size: 1.6rem;
  color: white;
  padding: 1rem 0;
}

.App-content {
  background-color: var(--bg-color);
  font-size: calc(10px + 2vmin);
  color: white;
  box-sizing: border-box;
}

.App-results {
  display: flex;
  width: 100%;
  padding: 0 4vw 3rem 4vw;
  box-sizing: border-box;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  :root {
    --content-padding: 2rem;
  }

  .App-main {
    margin-left: 0;
    /* min-height: calc(100vh - 123.77px); */
  }
}
