:root {
  --font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --scrollbar-thumb-color: hsl(192, 100%, 60%);
  --scrollbar-track-color: hsl(192, 100%, 10%);
  --input-bg-color: #2f3247;
  --outline-default: 1px solid rgba(126, 126, 126, 0.349);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  background-color: var(--bg-color);
  margin: 0;
  font-family: var(--font-family-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
select,
button {
  border-radius: 5px;
}

.btn,
.copied {
  background: #480ca8;
  border: 0;
  color: #fff;
  padding: 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: var(--font-family-default);
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a {
  color: #09f;
  font-size: 2rem;
  text-decoration: none;
}

:is(a, button:enabled):hover {
  filter: brightness(120%);
  background-color: rgb(29, 29, 29);
  transition: background-color ease 0.2s;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  display: block;
  padding: 0.8rem;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  line-height: 1.5;
}

input,
select {
  background-color: var(--input-bg-color);
  color: white;
  margin: 0;
  border: none;
}

:is(.error-container, .modal-content) .close-btn {
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  width: min-content;
  border: none;
  outline: none;
}

form input:focus,
form select:focus {
  outline: none;
  background-color: var(--bg-color);
}

:is(a:focus-visible, button:focus-visible) {
  outline: 2px solid white;
}

img {
  color: transparent;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.Gradient-title {
  font-weight: 300;
  padding: 1rem 0;
  width: fit-content;
  background-image: linear-gradient(45deg,
      hsl(156deg 100% 50%) 0%,
      hsl(174deg 100% 47%) 9%,
      hsl(187deg 100% 49%) 18%,
      hsl(189deg 100% 49%) 27%,
      hsl(170deg 100% 47%) 36%,
      hsl(88deg 89% 72%) 45%,
      hsl(48deg 100% 64%) 55%,
      hsl(33deg 100% 61%) 64%,
      hsl(15deg 100% 63%) 73%,
      hsl(8deg 100% 61%) 82%,
      hsl(7deg 100% 56%) 91%,
      hsl(0deg 100% 50%) 100%);
}

.Gradient-text {
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  transition: -webkit-text-fill-color 1s cubic-bezier(0.08, 0.34, 0.17, 0.77);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg-color) inset;
}

input:-webkit-autofill:focus {
  caret-color: white;
  -webkit-box-shadow: 0 0 0 0;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: var(--input-bg-color);
  color: white;

  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
  color: rgba(168, 166, 166, 0.933);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  background-color: var(--scrollbar-thumb-color);
  border: 0.15rem solid hsl(192, 100%, 10%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(192, 100%, 80%);
}

@supports (scrollbar-color: hsl(192, 100%, 60%) hsl(192, 100%, 10%)) {
  * {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blur {
  from {
    backdrop-filter: blur(0);
  }

  to {
    backdrop-filter: blur(3px);
  }
}

@keyframes appearFromTop {
  from {
    transform: translateY(-15%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes appearFromLeft {
  from {
    transform: translateX(-15%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes sidenav {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes modalBackground {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.76);
  }
}

@keyframes fav {
  from {
    color: white;
  }

  to {
    color: red;
  }
}