.botonera {
  bottom: 0;
  display: flex;
  gap: calc(1vw + 1rem);
  width: 25rem;
  margin: 1rem auto;
}

.botonera .btn {
  padding: 0.8rem;
  width: 100%;
  gap: 0.5rem;
}

.botonera :is(.btn, .btn span) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:is(.gf-fav, .go-back, .gf-copy):not(.copied) {
  outline: var(--outline-default);
  background-color: transparent;
}

@media screen and (max-width: 666.5px) {
  .botonera {
    width: 100%;
  }
}