.gf-fav-overlay,
.gf-copy-overlay {
  border: 0;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: black;
  outline: var(--outline-default);
  line-height: 0;
}

.gf-fav-overlay span:not(.faved) {
  color: white;
}

@media screen and (max-width: 950px) {

  .gf-fav-overlay,
  .gf-copy-overlay {
    padding: 0.8rem;
  }
}