.gf-header {
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 300;
  top: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--bg-color);
  outline: 6px solid var(--bg-color);
  border-bottom: 1px solid rgb(78, 78, 78);
  margin: auto;
}

.gf-header.header-desktop .links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.gf-header :is(a, .logout-button) {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-size: 0.9rem;
  font-weight: 600;
  box-sizing: border-box;
}

:is(.gf-header, .external-links) a {
  padding: 0.6rem;
  color: #fff;
  align-items: center;
  border-radius: 10px;
}

.gf-header .links > .midulink {
  padding: 0.4rem;
}

.gf-header :is(a, .logout-button):hover {
  transition: background-color ease 0.2s;
  background-color: rgb(29, 29, 29);
}

.logout-button {
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: var(--font-family-default);
}

.gf-header .icon {
  width: 30px;
  height: 30px;
}

.gf-header .brand_2 {
  stroke: var(--brand-color_2);
}

.external-links {
  display: flex;
  gap: 0.5rem;
}

.success {
  color: #47f147;
}

.link {
  padding: 0.5rem;
  display: inline;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  color: white;
  width: 100%;
  transition: filter ease 0.3s;
}

@media screen and (max-width: 950px) {
  .gf-header {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    border-bottom: 0;
  }
}
