.search-form {
  background-color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 10;
  padding: 1rem 0.1rem;
  outline: 6px solid var(--bg-color);
  align-self: flex-start;
  gap: 1rem;
}

.inputs-container {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.inputs-container select {
  border: none;
  border-right: 1px solid black;
  padding: 0.25rem;
  font-size: 1rem;
}

@media screen and (max-width: 769px) {
  .search-form {
    flex-direction: column;
  }

  .inputs-container {
    gap: 0;
  }

  .inputs-container select {
    border-radius: 5px 0 0 5px;
  }

  .inputs-container input {
    border-radius: 0 5px 5px 0;
  }
}
