.search-form {
  background-color: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 10;
  padding: 1rem 0.1rem;
  outline: 6px solid var(--bg-color);
  align-self: flex-start;
}

.inputs-container {
  display: flex;
  width: 100%;
}

.inputs-container input {
  border-radius: 0;
}

.inputs-container button {
  background-color: #2f3247;
  border-radius: 0 10px 10px 0;
}

.inputs-container button:disabled {
  opacity: 1;
}

.inputs-container select {
  border: none;
  border-right: 1px solid var(--bg-color);
  border-radius: 10px 0 0 10px;
  padding: 0.25rem;
  font-size: 1rem;
}

.search-icon {
  font-size: 1.2rem;
}

@media screen and (max-width: 769px) {
  .search-form {
    flex-direction: column;
  }

  .inputs-container {
    gap: 0;
  }
}
