.search-form {
  background-color: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  background-color: var(--bg-color);
  z-index: 10;
  padding: 0rem 0.1rem;
}

.inputs-container {
  display: flex;
  margin: auto;
  width: 100%;
}

.inputs-container input {
  border-radius: 0;
  padding: 0.8rem;
}

.inputs-container :is(select:focus, input:focus, button:focus-visible) {
  outline: 2px solid var(--brand-color_2);
  z-index: 10;
}

.inputs-container button {
  background-color: #2f3247;
  border-radius: 0;
}

.inputs-container button:focus-visible {
  background-color: var(--bg-color);
}

.inputs-container button:disabled {
  opacity: 1;
}

.inputs-container select {
  border: none;
  border-right: 2px solid var(--bg-color);
  border-radius: 0;
  padding: 0.25rem;
  font-size: 1rem;
}

@media screen and (max-width: 950px) {
  .search-form {
    order: 3;
    padding: 0.5rem 0.1rem;
  }
  .search-form {
    width: 100%;
  }
}
