.success {
  color: #47f147;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 2rem auto;
  width: 100%;
}

.link {
  padding: 0.5rem;
  display: inline;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  color: white;
  width: 100%;
  transition: filter ease 0.3s;
}

.link:first-child {
  border-radius: 10px 0 0 10px;
}

.link:last-child {
  border-radius: 0 10px 10px 0;
}

.active {
  font-weight: 600;
  background-color: #015064;
}

.navbar .link:not(.active) {
  /* filter: brightness(80%); */
  background-color: #393d6c;
}
