.success {
  color: #47f147;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 2rem auto;
  gap: 1rem;
  width: 100%;
}

.link {
  padding: 0.5rem;
  display: inline;
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  color: white;
  width: 100%;
  transition: filter ease 0.3s;
  outline: 1px solid rgb(29, 29, 29);
}

.active {
  font-weight: 600;
  outline: 1px solid var(--brand-color_2);
}
