:root {
  --content-padding: max(1rem, calc(16vw - 8vh + 2rem));
  --masonry-gap: 0.8rem;
  --gif-border-radius: 5px;
}

.App-title {
  color: white;
  margin: 1rem 0;
}

.App-content {
  background-color: #121212;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-sizing: border-box;
  padding: 1rem var(--content-padding);
}

.App-results {
  min-height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.App-logo {
  padding: 1rem 0;
  width: 8rem;
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  max-width: 100%;
}
