html {
  font-size: max(16px, 1vw);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background: #480ca8;
  border: 0;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

a {
  color: #09f;
  font-size: 2rem;
  text-decoration: none;
}

a:hover {
  color: rgb(2, 98, 161);
}

ul {
  list-style-type: none;
  padding: 0;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
}

input[type='text'] {
  padding: 1rem;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  border: none;
}

input[type='text']:focus {
  outline: none;
}
